<div id="player-wrapper" class="bg-light">
     <div>
        <div class="details-wrapper">
            <h4 *ngIf="current">{{current.key}}</h4>
            <span *ngIf="queue.length > 0"><strong>up next:</strong> {{queue[0].key}}</span>
        </div>

        <div>
            <iframe id="player" type="text/html" width="320" height="240" *ngIf="current" 
            [src]="current.tag | safe"
            frameborder="0"></iframe>
        </div>

        <div class="buttons-wrapper">
            <button class="ion-play" [disabled]="!current"></button>
            <button class="ion-skip-forward" [disabled]="!(queue && queue.length > 0) " (click)="next()"></button>
        </div>
        <div class="queue-wrapper">
            <ul>
                <li *ngFor="let item of queue">
                    <span>{{item.name}}</span>
                </li>
            </ul>
        </div>
    </div>

</div>